.know-more-about-you-mobile
%script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places", :type => "text/javascript"}
:javascript
  $(document).ready(function() {
    $('#submit-info').on('click', function() {
      $('#know-more-about-you .description').text("Thank you, it's nice to know you");
      $('#know-more-about-you form').addClass('hidden');
    });
  })

  function initializeAutocomplete(){
   var input = document.getElementById('user_location');
   var options = {
     types: ['(cities)']
   };

   var autocomplete = new google.maps.places.Autocomplete(input, options);

  }
  $(window).load(function(){
    initializeAutocomplete();
  });
