
#questions-show-container
  - case @question.type
  - when Question::VOTING
    = render partial: 'questions/show_voting'

  - content_for :title do
    = @question.title
  - content_for :description do
    = @question.description
  
  - content_for :open_graph do
    %meta{:content => @question.title, :property => "og:title"}/
    %meta{:content => @question.description.truncate(300), :property => "og:description"}/
    %meta{:content => @question.question_image.desktop, :property => "og:image"}/
    %meta{:content => "townhallapp.io", :property => "og:site_name"}/
    %script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-552382ec71ce23e0" 
            async="async" 
            data-url="#{organization_question_url(@question)}")