#organizer-votings-edit-container.custom-theme
  .container
    %h1 VOTING QUESTION
    
    = semantic_form_for [:organizer, @voting], html: { role: 'form', class: 'form-horizontal', multipart: true } do |f|
      = render partial: 'organizer/votings/form', locals: {f: f}   
      
 

      