#organizer-votings-edit-container.custom-theme
  .container

    = semantic_form_for [:organizer, @voting], html: { role: 'form', class: 'form-horizontal', multipart: true } do |f|
      .row
        .col-md-2
          %label Your URL
        .col-md-10
          - url = organization_question_url(@voting)
          = link_to url, url, target: 'blank'
        .break-line
    
      = render partial: 'organizer/votings/form', locals: {f: f}   
      
 

      