#setting-notifications-index-container
  .header.mobile
    .icon.notif
    Follows & Notifications

  .row
    .col-xs-4 Currently following
    .col-xs-4.text-center Receive app notifications
    .col-xs-4.text-center Receive email

  - @following_organizations.each do |following_organization|
    .row
      .col-xs-4.color-info= following_organization.organization_name
      .col-xs-4
        .text-center
          = receive_app_notifications_button(following_organization)
      .col-xs-4
        .text-center
          = receive_receive_email_button(following_organization)
