<h1>User Details</h1>
<p>
	<strong>Name: </strong><%= @user.name %><br/>
	<strong>Email: </strong><%= @user.email %>
	<strong>Location: </strong><%= @user.location %>
	<strong>Gender: </strong><%= @user.gender %>
</p>