.container.settings
  .header
    .icon.my-townhall
    My Townhall

  .header.smaller-text.no-background
    .icon.history
    History

  .row
    .col-xs-6.color-info Should motorcyclers wear helmets?
    .col-xs-3 City of Melbourne
    .col-xs-3 Ended 20 mar, 2012
