.container.settings
  .left-col.desktop
    = render 'shared/settings_nav'

  .right-col
    .header.mobile
      .icon.notif
      Follows & Notifications

    .row
      .col-xs-4 Currently following
      .col-xs-4 Receive app notifications
      .col-xs-4 Receive email

    .row
      .col-xs-4.color-info City of Melbourne
      .col-xs-4
        %label.checkbox.info.text-center
          %input(type='checkbox' disabled=true checked=true)
            %span.check-sign
      .col-xs-4
        %label.checkbox.info.text-center
          %input(type='checkbox' disabled=true )
            %span.check-sign

    .row
      .col-xs-4.color-info Man with a van
      .col-xs-4
        %label.checkbox.info.text-center
          %input(type='checkbox' disabled=true checked=true)
            %span.check-sign
      .col-xs-4
        %label.checkbox.info.text-center
          %input(type='checkbox' disabled=true )
            %span.check-sign
