.container.settings
  .header
    .icon.settings
    Settings

  .row
    .col-xs-3 Name:
    .col-xs-6= current_user.name
    .col-xs-3.color-info Change

  .row
    .col-xs-3 Email:
    .col-xs-6= current_user.email
    .col-xs-3.color-info Change

  .row
    .col-xs-3 Password:
    .col-xs-6 ******
    .col-xs-3.color-info Change

  .row
    .col-xs-3 Age:
    .col-xs-6 [No field age in User]
    .col-xs-3.color-info Change

  .row
    .col-xs-3 Location:
    .col-xs-6 [No field location in User]
    .col-xs-3.color-info Change

  .row
    .col-xs-3 Sex:
    .col-xs-6 [No field sex in User]
    .col-xs-3.color-info Change
