.container.settings
  .left-col.desktop
    = render 'shared/settings_nav'

  .right-col
    .header.mobile
      .icon.terms
      Terms of Use

    .terms
      %p These Terms of Use (<strong>Terms</strong>) govern your use of the Web Application located at http://www.townhallapp.io (<strong>TOWNHALL</strong>) and form a binding contractual agreement between you, the user of TOWNHALL, and us, TownHall App Pty Ltd, ABN 456 0351 2705, and its licensees and assigns (<strong>TownHall App Pty Ltd</strong>)

      %p
        %strong 1. Your acceptance of these Terms

      %p 1.1. By using any aspect of TOWNHALL you:

      %p (a) signify your agreement to and acceptance of these Terms;

      %p (b) signify your agreement to and acceptance of any other policies published on TOWNHALL (<strong>TOWNHALL Policies</strong>);

      %p (c) warrant that you are over the age of 18 and have the right and authority to enter into this Agreement or if you are under the age of 18, you have reviewed these Terms with your parent or guardian and understand and agree to these Terms; and

      %p (d) warrant that the performance of your obligations hereunder does not infringe the rights of any third party.

      %p 1.2. TownHall App Pty Ltd reserves the right to vary the Terms and the TOWNHALL Policies at any time. Each such variation will be effective immediately upon publishing on TOWNHALL. Your continued use of TOWNHALL following any such variation constitutes your acceptance and agreement to be bound by the Terms and TOWNHALL Policies, as varied. It is therefore important that you review the Terms and TOWNHALL Policies regularly.

      %p
        %strong 2. Using TOWNHALL

      %p 2.1. You acknowledge that:

      %p (a) TOWNHALL is operated in conjunction with organisations connected to TOWNHALL (<strong>Consulting Organisation(s)</strong>);

      %p (b) TOWNHALL is an application to make it simple for users to engage with the Consulting Organisations;

      %p (c) Votes made and reasons for or against added and chosen by users shall be collected and retained by the Consulting Organisation;

      %p (d) TownHall App Pty Ltd make no representations or warranties in relation to and has no control over how or when a Consulting Organisation uses information gathered in connection with TOWNHALL.


      %p
        %strong 3. Registration

      %p 3.1. You acknowledge that some features of TOWNHALL are only available to registered users. You may become a registered user by registering on the TOWNHALL. Your registration may be cancelled if:

      %p (a) TownHall App Pty Ltd, at its sole discretion, determines that multiple accounts are held by the same individual or entity; or

      %p (b) TownHall App Pty Ltd, at its sole discretion, determines that you are in breach of the Terms or Policies.

      %p 3.2. You may not register as a user if you were previously a user and TownHall App Pty Ltd cancelled your registration as a result of you being in breach of these Terms (as they applied at the relevant time).

      %p 3.3. In order to register as a user and to access and use certain TOWNHALL features, you may be required to provide information about yourself (such as identification, contact details and for certain users account details), as part of the registration process for TOWNHALL, or as part of your continued use of TOWNHALL. By registering as a user and using the TOWNHALL, you represent and warrant that:

      %p (a) all registration information you submit (including any representation or warranty you provide in the course of registering) is truthful and accurate; and

      %p (b) you will maintain the accuracy of such information at all times whilst you continue to be registered as a user and use TOWNHALL.

      %p
        %strong 4. Your passwords and account security

      %p 4.1. You are entirely responsible for maintaining the confidentiality of passwords associated with any account you use to access TOWNHALL.

      %p 4.2. You agree not to use TOWNHALL using the account, username, email address or password of another user at any time.

      %p 4.3. You will be solely responsible for the use of your social media accounts and any and all activities that occur on your accounts, whether or not those activities are authorised by you.

      %p 4.4. If you become aware of any unauthorised use of your social media accounts, you must notify TownHall App Pty Ltd immediately.

      %p
        %strong 5. Social media accounts (Facebook, LinkedIn, Twitter, Google)

      %p 5.1. By utilizing your social media log-in details to access TOWNHALL, you expressly authorize TownHall App Pty Ltd to:

      %p (a) receive certain information that is available on or through your social media account, including, without limitation, your profile information and certain other information that will be disclosed to you (and authorised by you) during the log-in process;

      %p (b) to generate and publish on your social media news feed actions you take on TOWNHALL, and to allow you to interact with your social media friends on TOWNHALL.

      %p 5.2. If you signed in with Facebook, you agree to allow Facebook to receive information concerning the actions you take on TOWNHALL. In the event you no longer want TOWNHALL to publish your TOWNHALL activity on your Facebook news feed, or want to otherwise limit the ways in which TOWNHALL interacts with your Facebook account, you can always disable aspects of this feature by changing your application settings in Facebook. Facebook is made available by Facebook, Inc.

      %p
        %strong 6. Access and Use

      %p 6.1. TownHall App Pty Ltd grants you a non-exclusive, worldwide, non-transferable licence to use TOWNHALL in accordance with these Terms.

      %p 6.2. You may access and use TOWNHALL (including any incidental copying that occurs as part of that use) in the normal manner, for personal non-commercial purposes.

      %p 6.3. You must not add/remove any content to/from TOWNHALL:

      %p (a) unless you hold all necessary rights, licences and consents to do so;

      %p (b) that would cause you or TownHall App Pty Ltd to breach any law, regulation, rule, code or other legal obligation;

      %p (c) that is or could reasonably be considered to be obscene, inappropriate, defamatory, disparaging, indecent, seditious, offensive, pornographic, threatening, abusive, liable to incite racial hatred, discriminatory, blasphemous, in breach of confidence or in breach of privacy;

      %p (d) that would bring TownHall App Pty Ltd, or TOWNHALL, into disrepute; or

      %p (e) that infringes the intellectual property or other rights of any person.

      %p 6.4. TOWNHALL may contain links to other websites, which are not operated by TOWNHALL (<strong>Third Party Site/s</strong>). TownHall App Pty Ltd has no control over Third Party Site/s and accepts no responsibility for them or for any loss or damage that may arise from your use of them. Your use of Third Party Sites will be subject to the terms of use and privacy policies of the Third Party Site/s.

      %p 6.5. TownHall App Pty Ltd may alter or amend any part of TOWNHALL at any time in its sole discretion without prior notice or liability to you. Notwithstanding the foregoing, you acknowledge that TownHall App Pty Ltd is not liable for any loss or damage howsoever caused resulting from any action taken or reliance made by you on any information or material on TOWNHALL.

      %p 6.6. TOWNHALL will not operate on a continuous basis, and may be unavailable from time to time (including for maintenance purposes). TownHall App Pty Ltd reserves the right to cease the operation of TOWNHALL, or any part thereof, without prior notice or liability to you.

      %p
        %strong 7. Intellectual Property

      %p 7.1. You agree that your use, contributions and activities on TOWNHALL will the property of TownHall App Pty Ltd.

      %p 7.2. By submitting any content or material to TOWNHALL (<strong>Submission</strong>), you hereby grant a perpetual, royalty-free, non-exclusive assignable license to TownHall App Pty Ltd to reproduce, publish, sell, distribute, license, communicate and otherwise exploit the entry, including the copyright in the Submission in any format and in all media, now known or hereafter devised, throughout the world. You agree that you will not be entitled to any fee for such use of the Submission.

      %p 7.3. You warrant that you are the only copyright holder of the Submission submitted by you and you are not infringing any third party's copyright. You warrant that any person depicted in photographs (if applicable) submitted to TOWNHALL, has granted permission to be portrayed in that photograph.

      %p 7.4. You hereby waive any so-called moral rights or similar rights (now or hereafter existing) in respect of any Submission under any law anywhere in the world and irrevocably consent to any act in respect of any Submission without restriction in all media, whether now known or hereafter devised.

      %p 7.5. TownHall App Pty Ltd shall use best efforts to credit you for your Submissions however, no casual or inadvertent failure by TownHall App Pty Ltd or third party to credit you will constitute a breach by TownHall App Pty Ltd.

      %p
        %strong 8. Privacy and your personal information

      %p 8.1. Without limiting Clause 1.1(b), you warrant that you have read the Privacy Policy published on TOWNHALL. This policy explains how TownHall App Pty Ltd treats your personal information, and protects your privacy, when you use TOWNHALL.

      %p 8.2. You agree to the use of your personal information in accordance with the Privacy Policy.

      %p
        %strong 9. Prohibitions

      %p 9.1. In using TOWNHALL you agree that, unless you are specifically allowed to do so under the terms of a separate agreement with TownHall App Pty Ltd, you shall not:

      %p (a) use, or allow to be used, TOWNHALL for any unlawful purpose or in any unlawful manner;

      %p (b) impersonate any other person;

      %p (c) make any commercial use of TOWNHALL, or any part thereof;

      %p (d) access (or attempt to access) TOWNHALL by any means other than through the interface that is provided by TownHall App Pty Ltd;

      %p (e) access (or attempt to access) TOWNHALL through any automated means (including use of scripts or web crawlers);

      %p (f) "frame" or "mirror" this website or any part thereof on any other server or Internet-enabled device;

      %p (g) reproduce, duplicate, or copy any part of TOWNHALL for any purpose;

      %p (h) and will not permit anyone else, to copy, modify, adapt, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of TOWNHALL or any part thereof;

      %p (i) attempt to corrupt data or undermine the security or integrity of TOWNHALL, or where TOWNHALL is hosted by a third party, that third party's computing systems and networks;

      %p (j) transmit or distribute a virus, trojan, worm, logic bomb or post any other material which is malicious, technologically harmful, in breach of confidence or in any way offensive or obscene;

      %p (k) gain or attempt to gain unauthorised access or authorise any person to gain or attempt to gain unauthorised access to any aspect of TOWNHALL, the server on which TOWNHALL is stored or any server, computer or database connected to TOWNHALL;

      %p (l) infringe upon the rights of any other person's proprietary rights.

      %p
        %strong 10. Content and proprietary rights

      %p 10.1. You acknowledge and agree that TownHall App Pty Ltd (or TownHall App Pty Ltd's licensors) own all legal right, title and interest in and to TOWNHALL, including any Intellectual Property rights which subsist in TOWNHALL (whether those rights happen to be registered or not, and wherever in the world those rights may exist). Unless you have agreed otherwise in writing with TownHall App Pty Ltd, nothing in these Terms gives you a right in or to any Intellectual Property.

      %p 10.2. In using TOWNHALL you agree that you shall not (and will not permit anyone else) to adapt, reproduce, store, distribute, transmit, print, display, publish or create derivative works from any Intellectual Property on TOWNHALL. You agree that you will not use any Intellectual Property in a way that is likely or intended to cause confusion about the owner or authorised user of the Intellectual Property.

      %p 10.3. For the purpose of this Clause 10, Intellectual Property includes, but is not limited to, designs, patterns, artworks, photography, literary works, musical works, sound recordings, cinematograph films, trade marks, service marks, trade names and logos.

      %p
        %strong 11. Linking to this Website

      %p 11.1. You may link to TOWNHALL, provided you do so in a way that is fair and legal and does not damage TownHall App Pty Ltd's reputation or takes advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement where none exists.

      %p
        %strong 12. Liability

      %p 12.1. TownHall App Pty Ltd make no warranty that any use of TOWNHALL will meet your requirements.

      %p 12.2. To the full extent permitted by law, TownHall App Pty Ltd excludes:

      %p (a) all liability in respect of loss of data, interruption of business or any consequential or incidental damages, and

      %p (b) all representations, warranties or terms (whether express or implied) other than those expressly set out in these Terms.

      %p 12.3. If any legislation operates to prohibit or restrict the exclusion, restriction or modification of any implied warranties, conditions or obligations, then to the full extent permitted by law, TownHall App Pty Ltd limits its liability in respect of any such claim to, at its option:

      %p (a) in the case of services:

      %p (i) the supply of the services again; or

      %p (ii) the payment of the cost of having the services supplied again.

      %p (b) in the case of goods:

      %p (i) the replacement of the goods or the supply of equivalent goods;

      %p (ii) the repair of the goods;

      %p (iii) the payment of the cost of repairing the goods, or replacing the goods or of acquiring equivalent goods.

      %p 12.4. TownHall App Pty Ltd will not be liable for any loss or damage however caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material as a result of or in connection with your use of TOWNHALL or to your downloading of any material posted on it, or on any website linked to it. In using TOWNHALL, you acknowledge that you view and download published material at your own risk.

      %p
        %strong 13. Indemnity

      %p 13.1. You will indemnify and hold TownHall App Pty Ltd, its subsidiaries and their directors, officers, employees, contractors, agents and licensors harmless from any loss, damage, proceeding and cost (including all reasonable legal costs), whether in contract, tort, under statute or otherwise, directly or indirectly as a result of your use of TOWNHALL or TownHall App Pty Ltd products and services, your breach of these Terms, or your violation of any applicable law or the rights of any third party.

      %p
        %strong 14. General

      %p 14. 1 You agree that you shall be solely responsible for (and that TownHall App Pty Ltd has no responsibility to you or to any third party for) any breach of your obligations or any representation or warranty you provide under these Terms and for the consequences of any such breach (including any loss or damage, howsoever caused, which TownHall App Pty Ltd or any third party may suffer).

      %p 14.2. If a provision of these Terms are determined by any competent authority to be invalid unlawful or unenforceable to any extent, it is to be read down or severed to the extent necessary without affecting the validity or enforceability of the remaining provisions which will continue to be valid to the fullest extent permitted by law.

      %p 14.3. Failure or omission by TownHall App Pty Ltd to enforce or require strict performance or timely compliance with any provision of these Terms will not affect or impair that provision, or TownHall App Pty Ltd's rights thereto and shall not constitute a waiver of such rights or remedies and shall not relieve you from compliance with such obligations.

      %p 14.4. These Terms and any document expressly referred to in them represent the entire understanding and agreement between the parties in relation to use of TOWNHALL and supersede any prior agreement, understanding or arrangement between us, whether oral or in writing.

      %p 14.5. Each party must at its own expense do everything reasonably necessary to give full effect to this Agreement.

      %p 14.6. This Agreement is governed by the laws of Victoria, Australia and each party submits to the jurisdiction of the courts of Victoria Australia.
