#organizations-show-container {
  .tab-pane {
    padding-bottom: 20px;
  }
  .nav-pills {
    li {
      margin: 0 5px;
      
      a {
        margin: 0;
        width: 200px;
        max-width: 100%;
      }
    }
  }
}