<h1>Townhall Social - Member</h1>
<p>Welcome to your Member Home Page <%= @user.name %></p>

<h2>Secure Page</h2>
<p>This page should be secure and only available to users who have successfully logged in</p>