@import 'common_variables';
@import 'variables_n_overrides';

/* TOP MENU */
.navbar-admin {
  position: relative;
  height: 50px !important;
  .navbar-header-border {
    position: absolute;
    top: 48px;
    height: 2px;
    width: 100%;
    background-color: #eee;
    z-index: -1;
  }
  .nav-item {
    display: inline-block;
    height: 50px;
    margin: 0px 15px 0 15px;
  }
  a.tab-link {
    display: block;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
  }
  .nav-item.active {
    border-bottom: 2px solid $brand-primary;
    a.tab-link {
      color: $brand-primary;
    }
  }
}

#townhall-nav, #townhall-nav-mobile {
  .logo-div {
    height: 40px !important;
  }
  img.logo {
    margin-top: 15px !important;
  }
}

