#admin_registrations {
  margin-top: -64px;
  padding-top: 40px;
  overflow: hidden;
  background-color: white;
  .signup_image img {
    width: 100%;
  }
  #steps {
    h2 {margin-bottom: 0px;}
  }
  #steps .progress_bar {
    margin-bottom: 15px;
    .step {
      display: inline-block;
      margin-right: 10px;
      width: 30%;
      height: 5px;
      background-color: #666;
    }
    .doing {
      background-color: #3acccb;
    }
    .done {
      background-color: #3acccb;
    }
  }

  #sign_in_form {
    .no_left_grid {
      margin-left: 0;
    }

    .our_site {
      color: #3acccb;
      font-weight: bold;
      line-height: 30px;
    }
    .btn-yes {
      margin-top: 20px;
      width: 8em;
      font-weight: bold;
    }

  }

}
