@import 'variables_n_overrides';
@import 'common_variables';

.admin-form {
  .btn { max-width: 15em;}
  .description {
    height: 10em;
  }
  #reasons {
    .nested-fields {
      padding-left: 10px;
      padding-right: 10px;
    }
    .btn-danger {
      margin-top: -29px;
      float: right;
    }
    .links .add_fields {
      margin: 10px;
    }

  }
}

/* Datapicker */
#ui-datepicker-div {
  background-color: #eee;
  
  select.select-date {
    width: 30%;
    margin-right: 10px;
    float: left;
  }
  .select-date-wrapper{
    select:first-of-type{
      width: 45%;
    }
    select:nth-of-type(2){
      width: 20%;
    }
    select:last-of-type{
      margin-right: 0;
    }
  }
  
}
