<ul>
    <li><%= link_to 'new Voting', new_organizer_voting_path %></li>
    <li><%= link_to 'new Rating', new_organizer_ranking_path %></li>
    <li><%= link_to 'new Idea generator', new_organizer_idea_path %></li>
</ul>
