<ul>
    <li><%= link_to 'new Vote', new_organizer_vote_path %></li>
    <li><%= link_to 'new Rating', new_organizer_vote_path %></li>
    <li><%= link_to 'new Idea generator', new_organizer_vote_path %></li>
</ul>
