#errors-404-container
  %h1 Oops, looks like something went wrong!
  %p Maybe try reloading the page or using the back button on the browser.
  %p If you have a moment we really appreciate if you can tell us what happened. 
  = mail_to 'support@townhallapp.io', 'Send us an email', class: "btn btn-send-email"