= simple_form_for [:organizer, @organization], multipart: true do |f|
  = f.input :name, label: 'Organizations name', wrapper: :horizontal_form
  = f.input :banner, label: 'Organizations name', wrapper: :horizontal_form
  = f.button :submit
