.container#feedback
  %h3.text-center.color-info.thank-you Thanks for your feedbacks, we really appreciate !

  .row
    .logo.text-center.fixed-bottom= link_to image_tag('townhall-logo.png'), root_path