.container#feedback
  %h3.text-center.color-info.thank-you
    Thanks for your feedback, we really appreciate it!
    %br
    %br
    If you'd like to know more about townhall please
    = link_to "visit us", 'http://www.townhallapp.io'
