#setting-posts-privacy-container
  .header.mobile
    .icon.terms
    Privacy Policy

  .terms
    %p
      TownHall App Pty Ltd may update this policy from time to time by updating this page. We will notify you of significant changes to this policy by placing a notice on the TOWNHALL.
     
    %p 
      In order for TownHall App Pty Ltd to provide the TOWNHALL it must collect information from you. This policy applies only to the TOWNHALL and to the activities of TownHall App Pty Ltd’s officers and employees. This policy does not extend to third-party sites linked from and to the TOWNHALL and TownHall App Pty Ltd does not control the collection or use of personal information collected on third-party sites.
     
    %p
      %strong 1. Information we collect
     
    %p
      When you visit the TOWNHALL you may provide TownHall App Pty Ltd with two types of information: ‘Your Personal Information’ you knowingly choose to disclose that is collected on an individual basis and ‘Website Use Information’ collected on an aggregate basis as you and others use the TOWNHALL.
     
    %p 
      TownHall App Pty Ltd may as a result of your interaction with the TOWNHALL hold and process personal information obtained about you when you access the TOWNHALL and use it for servicing our relationship with you, for the purposes of fraud prevention, to conduct our business and to provide you with better customer service and products from TownHall App Pty Ltd and those of selected third parties, to evaluate the effectiveness of our marketing of the TOWNHALL and for statistical analysis.
     
    %p
      TownHall App Pty Ltd will not collect Sensitive Information except with your consent, and then only if collection of such information is necessary for some activity or function. For the purpose of this policy, ‘Sensitive Information’ means health information or information or an opinion about an individual's:
    
    %ul
      %li racial or ethnic origin;
      %li political opinions;
      %li membership of a political association;
      %li religious beliefs or affiliations;
      %li philosophical beliefs;
      %li membership of a professional or trade association;
      %li membership of a trade union;
      %li sexual preferences or practices; or
      %li criminal record.
     
    %p Your Personal Information
    %ul
      %li TownHall App Pty Ltd identifies you by an email address and any other such information you provide TownHall App Pty Ltd via the TOWNHALL.
      %li 
        By utilizing your Facebook log-in details to access the TOWNHALL, you expressly authorize TownHall App Pty Ltd to:
        %ul
          %li receive certain information that is available on or through your Facebook account, including, without limitation, your profile information and certain other information that will be disclosed to you (and authorised by you) during the log-in process;
          %li to generate and publish on your Facebook news feed actions you take on the TOWNHALL, and to allow you to interact with your Facebook friends on the TOWNHALL.
          %li You agree to allow Facebook to receive information concerning the actions you take on the TOWNHALL. In the event you no longer want the TOWNHALL to publish your the TOWNHALL activity on your Facebook news feed, or want to otherwise limit the ways in which the TOWNHALL interacts with your Facebook account, you can always disable aspects of this feature by changing your application settings in Facebook. Facebook is made available by Facebook, Inc.
     
    %p Website Use Information
    %ul
      %li TownHall App Pty Ltd records information about your interactions with the TOWNHALL, and with TOWNHALL-hosted content embedded in third party web sites. TownHall App Pty Ltd servers automatically receive and log information from your browser, including your IP address, browser configuration, the page or information you have requested and the date and time of your request.
      %li TownHall App Pty Ltd utilises “cookies” which enables it to monitor traffic patterns and to serve you more efficiently if you revisit the TOWNHALL. A cookie does not identify you personally but it does identify your computer. You can set your browser to notify you when you receive a cookie and this will provide you with an opportunity to either accept or reject it in each instance. If you disable cookies, the TOWNHALL may not function properly.
     
    %p
      %strong 2. How we use collected information
    
    %p TownHall App Pty Ltd uses the information you provide in order to identify you, communicate with you, and provide personalised services. You may choose to remain anonymous to TownHall App Pty Ltd by withholding identifying information.
    %p If you choose to decline to provide certain personal information to TownHall App Pty Ltd, TownHall App Pty Ltd may not be able to provide you full access to the TOWNHALL.
    %p Our use of collected information may include:
    %ul
      %li sharing Your Personal Information to Recipient Organisations;
      %li sharing aggregate information with third parties which does not personally identify you;
      %li contacting you, including with promotional materials and notifications in accordance with the Spam Act 2003;
      %li billing and account management;
      %li research and development in improving our services and in developing new products and services; and
      %li monitoring and maintaining our computers and network.
     
    %p If you request TownHall App Pty Ltd not to use personal information in a particular manner or at all, TownHall App Pty Ltd will adopt all reasonable measures to observe your request but it may still use or disclose that information if TownHall App Pty Ltd:
    %ul
      %li subsequently notifies you of the intended use or disclosure and you do not object to that use or disclosure;
      %li believes that observing the request will legitimately inhibit TownHall App Pty Ltd’s ability to provide the TOWNHALL;
      %li believes that the use or disclosure is reasonably necessary to assist a law enforcement agency or an agency responsible for government or public security in the performance of their functions; or
      %li is required by law to disclose that information.
     
    %p Personal information collected by TownHall App Pty Ltd will be used only for purposes outlined in this policy. If TownHall App Pty Ltd proposes to use your information for any other purposes then you will be provided with a means to opt out of the use of your information for those purposes. You may opt out of receiving promotional materials from TownHall App Pty Ltd.
    %p TownHall App Pty Ltd will not sell or otherwise provide your personal information to a third party, or make any other use of your personal information, for any purpose which is not incidental to your use of the TOWNHALL. For the avoidance of doubt, personal information will not be used for any purpose which a reasonable person in your position would not expect. TownHall App Pty Ltd does not sell or share your personal information with a third party except where:
    %ul
      %li you have provided your express consent;
      %li it is made in connection with the provision of the TOWNHALL pursuant to the Terms of Use;
      %li TownHall App Pty Ltd is responding to a court order, legal process or enforceable government request;
      %li TownHall App Pty Ltd believes it is necessary to share information in order to investigate or take action in response to illegal activities; fraud or technical or security issues; threats against the rights, property or safety of TownHall App Pty Ltd, its employees, users or the public; or
      %li as otherwise required by law.
     
    %p
      %strong 3. Securing your information
    %p TownHall App Pty Ltd employs appropriate electronic and procedural measures to protect personal information from unauthorised access or modification. Access to your personal information is limited to employees we believe reasonably need to use that information in order to perform their roles in providing or developing the TOWNHALL.
    %p You are entitled to have access to any personal information relating to you which you have previously supplied to TownHall App Pty Ltd through the TOWNHALL. You are entitled to edit or delete such information unless we are required by law to retain it.
    %p 
      = "If you have questions or concerns about this policy please send an email to #{mail_to 'support@townhallapp.io'}.".html_safe