$color-text: #333;
$color-grey-bg: #e7e7e2;

$color-yes: #c5dd37;
$color-maybe: #9b9d8b;
$color-no: #fc6f4c;
$color-info: #3acccb;

$color-no-hover: #f24103;
$color-maybe-hover: #868570;
$color-yes-hover: #97d302;

$desktop-version-min: 1050px;
$desktop-version-container: 992px;