@import 'common_variables';

body {
  padding: 64px 0;
}

.italic { font-style: italic !important; }

/* NAVBAR STYLING */
.navbar {
  margin-bottom:  0px;
  border: 0;
}
.navbar-header {
  width: 100%;
  a.navbar-icon {
    float: left;
    margin: 0px 10px 0 0px;
    font-size: 18px;
    line-height: 10px;
    height: 64px;
    width: 60px;
    text-indent: -9999px;
    &:hover {
      background-position: 0 -64px;
    }
  }
  a.home {
    background: image-url('home-icon.png') 0 0 no-repeat;
  }
  a.contact {
    background: image-url('contact-icon.png') 0 0 no-repeat;
  }
  a.follow {
    background: image-url('follow-icon.png') 0 0 no-repeat;
  }
  img {
    width: 30px;
  }
  .navbar-toggle {
    padding: 0px;
  }
}

#nav-toggle-btn {
  margin: 15px;
  cursor: pointer;
}

#townhall-nav {
  width: 250px;
  background: #fff;
  padding: 25px 15px 25px 0;
  font-size: 17px;
  border-color: #eee;
  -webkit-box-shadow: -5px 0px 25px 5px rgba(187,187,187,1);
  -moz-box-shadow: -5px 0px 25px 5px rgba(187,187,187,1);
  box-shadow: -5px 0px 25px 5px rgba(187,187,187,1);

  ul { margin: 0; list-style: none; padding: 0; }
  li {
    height: 50px;
    padding-left: 60px;
    a {
      line-height: 50px;
      color: $color-text;
      &:hover { text-decoration: none; }
    }
    &:hover {
      background: $color-info;
      a { color: #fff; }
    }
  }
  .logo { height: 35px; margin-left: 15px; margin-top: 0; }
}

/* FOR IMAGES */
img.cover_image {
  width: 100%;
}

/* FOR LOGO */
.logo { height: 50px; margin-top: 40px; }

/* FOR BUTTONS */
.btn-vote {
  color: #fff;
  width: 100%;
  border-radius: 5px;
  font-size: 17px;
  &:hover {
    color: #fff;
  }
}
.btn-yes {
  background-color: $color-yes;
  color: #fff;
  &:hover { background-color: $color-yes-hover; color: #fff; }
}

.btn-maybe {
  background-color: $color-maybe;
  color: #fff;
  &:hover { background-color: $color-maybe-hover; color: #fff; }
}

.btn-no {
  background-color: $color-no;
  color: #fff;
  &:hover { background-color: $color-no-hover; color: #fff; }
}

/* FOR FAKE CHECKBOD */
.checkbox {
  input[type=checkbox], input[type=radio] {
    display: none;
  }
  .check-sign {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }
  label { padding-left: 5px}

  &.info {
    color: $color-info;
    .check-sign {
      background: image-url('blue-circle-box.png') no-repeat 0 0;
      background-size: 20px auto;
    }
    input[type=checkbox]:checked + .check-sign, input[type=radio]:checked + .check-sign {
      background-position: 0 -20px;
    }
  }

  &.yes {
    color: $color-yes;
    .check-sign {
      background: image-url('green-circle-box.png') no-repeat 0 0;
      background-size: 20px auto;
    }
    input[type=checkbox]:checked + .check-sign, input[type=radio]:checked + .check-sign {
      background-position: 0 -20px;
    }
  }

  &.no {
    color: $color-no;
    .check-sign {
      background: image-url('red-circle-box.png') no-repeat 0 0;
      background-size: 20px auto;
    }
    input[type=checkbox]:checked + .check-sign, input[type=radio]:checked + .check-sign {
      background-position: 0 -20px;
    }
  }

  &.maybe {
    color: $color-no;
    .check-sign {
      background: image-url('grey-circle-box.png') no-repeat 0 0;
      background-size: 20px auto;
    }
    input[type=checkbox]:checked + .check-sign, input[type=radio]:checked + .check-sign {
      background-position: 0 -20px;
    }
  }
}

/* COMMON CLASS */
.color-black { color: $color-text; }
.color-info { color: $color-info; }

.small-text { font-size: 14px; }
.large-text { font-size: 17px; }
.text-italic { font-style: italic; }

input.form-control, textarea.form-control { background-color: #e7e7e2; }