@import 'variables_n_overrides';
@import 'common_variables';

#organization_banner {
  width: 100%;
  margin-bottom: 20px;
}

#organization {
  .question-desc, .question_image.desktop, .share-icon{ display: none; }
  .question_image { width: 100%; }
  .vote-now {
    display: inline-block;
    color: #fff;
  }
  .days-left {
    float: left;
  }
  .vote-count, .days-left {
    line-height: 30px;
    font-size: 16px;
  }
  .question-desc {
    font-size: 17px;
  }
}

.organization .see-more { display: none; }

/* Tab pills styling might need to be namespaced */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
    li {
    	width:30%;
    }
    li a {
    	background-color: $gray-light;
    	color: white;
      margin:0;
    	margin-right: -3px;
    }
}

.tab-content {
	ul {
		list-style: none;
		padding-left: 0px;
		li {
      a {
			 color: $text-color;
		  }
    }
	}
}

#no_questions {
  margin-top: 30px;
  text-align: center;
}

.voting_stats {
  padding: 10px;
  text-transform: uppercase;
  font-style: italic;
  background-color: #ddd;
  height: 47px;
  text-transform: uppercase;
  font-style: italic;
  border: 1px solid #aaa;
  .divider {
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    height: 30px;
    margin: 0px 15px 0 20px;
    background-color: $gray-light;
  }
  .days-left, .vote-count { display: inline-block; }
  .days-left {
    margin-right: 20px;
  }
}
