@import 'variables_n_overrides';
@import 'common_variables';

.submit_btn.voting {
  display: none;
}


.voting {
  font-size: 17px;

  .question {
    #cover_image {
      width: 100%;
    }
    .question-content {
      margin-top: 37px;
      margin-bottom: 30px;
      overflow-y: auto;
      padding-bottom: 25px;
    }
  }

  .vote-actions {
    margin-bottom: 30px;

    .action {
      width: 32.7%;
      display: inline-block;
      padding: 0 5px;
      text-align: center;
    }

    input[type=radio] { display: none; }
  }

  .checkbox.info { font-style: italic; font-size: 14px; }

  .voting-info {
    margin-top: 20px;
    text-transform: uppercase;
    font-style: italic;
    .col-xs-6:first-child { border-right: 1px solid $text-color; }
  }

  .social-networks {
    text-align: center;
    .social-ntw {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 40px 2px 0px;
      &.twitter {
        background: image-url('twitter.png') no-repeat center center;
        background-size: 50px auto;
      }
      &.facebook {
        background: image-url('facebook.png') no-repeat center center;
        background-size: 50px auto;
      }
      &.linkedin {
        background: image-url('linkedin.png') no-repeat center center;
        background-size: 50px auto;
      }
    }
  }
}

.chart-result {
  margin: 40px 0;
  line-height: 40px;
  font-style: italic;
  font-size: 14px;
  .bar {
    margin: 0 -15px;
    height: 40px;
    border-radius: 0 8px 8px 0;
  }
  .yes .percentage { color: $color-yes; }
  .no .percentage { color: $color-no; }
  .maybe .percentage { color: $color-maybe; }
  .yes .bar { background-color: $color-yes }
  .no .bar { background-color: $color-no }
  .maybe .bar { background-color: $color-maybe }
}

.voting-container {
  .add-more-reason {
    margin-top: 30px;
    .form-control { width: calc(100% - 50px); display: inline-block; }
    #add-more-reason {
      border: 2px solid $color-info;
      border-radius: 8px;
      width: 40px;
      float: right;
      color: $color-info;
      &:hover { color: $color-info; }
    }
  }

  .reasons {
    margin-top: 30px;
    .reason-content { display: inline-block; vertical-align: middle; width: calc(100% - 60px);}
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background: image-url('crowd-icon.png') no-repeat center center;
      background-size: 20px auto;
    }
  }
}

.reason-list {
  h3 { font-style: italic; }
  .results {
    padding-left: 0;
    li { list-style: none; }
    .count, .reason, .icon { display: inline-block; }
    .count { width: 50px; font-size: 24px; vertical-align: middle; }
    .icon {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background: image-url('crowd-icon.png') no-repeat center center;
      background-size: 20px auto;
    }
    .reason { width: calc(100% - 80px); color: $color-text; font-size: 14px; vertical-align: middle; }
  }

  &.yes { color: $color-yes; }
  &.no { color: $color-no; }
  &.maybe { color: $color-maybe; }
}

#know-more-about-you {
  margin-bottom: 50px;
  .description { font-style: italic; color: $color-info; }
}

#give-feedback {
  color: $color-text;
  line-height: 80px;
}