html, body {
   margin: 0px;
   height: 100%;
   width: 100%;
   background: #e7e7e2;
}
.container {
  background: #fff;
  min-height: 100%;
  
  #content {
    margin-top: 100px;
    margin-bottom: 100px;

    .logo { 
      padding-left: 20px;
      padding-right: 20px;

      img {
        margin-top: 60px;
        margin-bottom: 60px;
        max-width: 100%;
      }
    }

    .content {
      padding-left: 20px;
      padding-right: 20px;
    }

    h1 {
      // font-family: 'Lato', sans-serif;
      font-weight: 700;
      color: #616161;
      font-size: 40px;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    p {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 25px;
      font-weight: 400;
      // font-family: 'Lato', sans-serif;
      color: #616161;
    }

    a.btn {
      // font-family: 'Lato', sans-serif;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      font-size: 25px;
      color: #fff;
      background: #fc6f4c;
      padding: 10px 65px 10px 80px;
    }
  }
}