- if @vote.valid?
  $('.voting-container').replaceWith("#{ j(render partial: 'reason', locals: { question: @question, votes_chart: @question.vote_percentages }) }")
- else
  alert('Unable to create vote');