#organizer-votings-new-container.custom-theme
  .container
    / %h1= "Editing #{@ranking.title}"
    .row
      .col-md-2
        %label Your URL
      .col-md-10
        - url = organization_question_url(@ranking)
        = link_to url, url, target: 'blank'
      .break-line
    = render partial: 'organizer/rankings/form'   
